.aula {
	background-color: #FFF;
	border-bottom: 1px solid #CCC;
	border-radius: 3px;
	padding: 5px;
	text-align: center;
	width: 200px;
	margin-bottom: 5px;
	vertical-align: middle;
}

.aula > h4 {
	font-size: 14px;
	font-weight: bold;
}
.aula > h5 {
	font-size: 14px;
}

.aula > h6 {
	font-size: 12px;
}

/*TABLE*/

.table {
	background-color: #F2F4F6;
}

th {
	text-align: center !important;
	vertical-align: middle !important;
}

td {
	margin: 5px;
	text-align: center !important;
	vertical-align: middle !important;
	height: 100px;
	width: 300px;
}

.table th:first-child {
	white-space: nowrap;
}

.hover {
	background-color: #EEE;
}

/*DEPARTAMENTOS*/

.decom {
	background-color: #1abc9c;
	color: #FFF;
}
.decom:hover {
	background-color: #16a085;
}

.dfm {
	background-color: #2ecc71;
	color: #FFF;
}

.dfm:hover {
	background-color: #27ae60;
	color: #FFF;
}

.deltec {
	background-color: #3498db;
	color: #FFF;
}

.deltec:hover {
	background-color: #2980b9;
}

.dcsf {
	background-color: #9b59b6;
	color: #FFF;
}

.dcsf:hover {
	background-color: #8e44ad;
}

.dequi {
	background-color: #e67e22;
	color: #FFF;
}

.dequi:hover {
	background-color: #d35400;
}

.dcsa {
	background-color: #e74c3c;
	color: #FFF;
}

.dcsa:hover {
	background-color: #c0392b;
}

.decita {
	background-color: #34495e;
	color: #FFF;
}

.decita:hover {
	background-color: #2c3e50;
}